.related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    h1 {
        color: #222;
        font-size: 50px;
    }
    hr {
        width: 400px;
        height: 6px;
        border-radius: 10px;
        background: #222;
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);;
        margin-top: 30px;
        gap: 40px;
    }
}